<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.meegotech.invisiblewidgetspro">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainActivtityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ConfigurationActivity"
            android:launchMode="singleTop"
            android:theme="@style/ConfigActivityTheme">
        </activity>

        <receiver
            android:name="in.meegotech.invisiblewidgetspro.widget.WidgetProvider"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.shivam.invisiblewidgetspro.MANUAL_APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <receiver
            android:name=".utils.NotificationHelper"
            android:exported="false"/>

        <receiver android:name=".cache.AppListenerBroadcastReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name=".cache.AppsService"/>

        <provider
            android:name=".cache.AppsProvider"
            android:authorities="in.meegotech.invisiblewidgetspro"
            android:exported="false"/>

    </application>

</manifest>